<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>POSTS_PER_PAGE</param-name>
		<param-value>10</param-value>
	</context-param>
	
	<context-param>
		<param-name>PAGES_PER_BLOCK</param-name>
		<param-value>5</param-value>
	</context-param>
	
	<context-param>
		<param-name>maxPostSize</param-name>
		<param-value>1024000</param-value>
	</context-param>
	
	
	<servlet>
		<servlet-name>MVCBoardList</servlet-name>
		<servlet-class>model2.mvcboard.ListController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCBoardList</servlet-name>
		<url-pattern>/mvcboard/list.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MVCBoardWrite</servlet-name>
		<servlet-class>model2.mvcboard.WriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCBoardWrite</servlet-name>
		<url-pattern>/mvcboard/write.do</url-pattern>
	</servlet-mapping>
	
</web-app>